/* Fonts */
@font-face {
  font-family: "Font1";
  src: url(../../assets/font/HKGrotesk-Medium.otf)
}

body {
  font-family: Font1,
               -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Helvetica,
               Arial,
               sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 1rem;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navigation */
nav {
  font-family: Font1;
}
nav li.active {
  font-weight: bold;
}